---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<!-- {% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->

### Peer-reviewed publications and submissions

1. Cui, J. and Yi, G. Y. (2025). *Estimation and variable selection in multivariate regression with mixed measurement error and misclassification in covariates and missingness in responses.* Major revision at **Electronic Journal of Statistics**.
2. Cui, J. and Yi, G. Y. (2025). *Multivariate regression with measurement error: bias analysis and estimation.* **Journal of Nonparametric Statistics**, 37(4), 1257–1297.
3. Wang, S., Bai, C., Li, G., Cui, J., Mao, R., Tian, J., Lv, D., Zhang, T., Liu, Y., Feng, Z., & Zhu, H. (2025). *Dietary vitamin E intake, life expectancy, and mortality risk among adults in the United Kingdom and the United States.* **International Journal of Surgery**. In press.
4. Cui, J. and Yi, G. Y. (2024). *Variable selection in multivariate regression models with measurement error in covariates.* **Journal of Multivariate Analysis**, 202, 105299.
5. Cui, J., Lu, J., Weng, Y., Yi, G. Y., and He, W. (2022). *COVID-19 impact on mental health.* **BMC Medical Research Methodology**, 22(15): 1–11.
6. Liu, D., Du, Y., Charvadeh, Y. K., Cui, J., Chen, L.-P., Deng, G., Zhang, Q., Cai, K., He, J., He, W., et al. (2020). *A real time and interactive web-based platform for visualizing and analyzing COVID-19 in Canada.* **International Journal of Statistics and Probability**, 9(5): 23–29.
7. Spiegelman, D., Xu, D., Bing, A., Tong, G., Abdo, M., Cui, J., Goss, C., Kiggundu, J. B., Longenecker, C. T., Nelson, L., Semitala, F., Zhou, X., & Lok, L. J. (2025). *Optimizing complex health intervention packages through the Learn-As-you-GO (LAGO) design.* Manuscript submitted for publication in **Research Methods and Reporting (RMR)**.

### Manuscripts in preparation

8. Cui, J., Lok, J., Spiegelman, D. and Zhou, X. (2025). *Learn-As-you-GO (LAGO): An adaptive design for stepped-wedge trials via linear mixed models.*
9. Cui, J., Spiegelman, D. and Zhou, X. (2025). *Integrating direct effects from mediation analysis to improve total effect estimation in meta-analysis.*
10. Cui, J., Abdo, M., Spiegelman, D., Lok, J. L., and Zhou, X. (2025). *Learn-As-you-GO (LAGO) design in PULESA-Uganda: A stepped-wedge trial to integrate HIV and hypertension services.*
11. Bing, A., Bui, M. T., Cui, J., Nevo, D., Spiegelman, D., and Lok, J. L. (2025). *LAGO: an R package for intervention optimizations in Learn-As-you-GO (LAGO) trials.*

---



